/* loved */

.loved-list {
    display: flex;
    gap: 28px;
}

.loved-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33333;
    text-align: center;
    margin-bottom: 28px;

}

.made-title.loved-title {
    margin-bottom: 0;
}

.loved-text {

    line-height: 1.28571;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(17, 17, 17, 0.7);
}

.loved-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 56px 24px 24px;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
    width: 360px;
    margin-top: 30px;
    box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
    background: #fff;
    position: relative;
}

.loved-card img {
    position: absolute;
    top: -40px;
    border-radius: 50%;

}

.loved-btn {
    border: 1px solid #fd9222;
    border-radius: 100px;
    padding: 14px 40px;
    width: 222px;
    height: 50px;
    transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
}

.loved-btn:hover, .loved-btn:focus {
    background-color: #fd9222;
    color: #fff;
}

.loved-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

/* footer */
.container.footer-container {
    background-color: #1E1823;
    padding: 50px 32px;
    margin-top: 100px;
}

.footer-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.21429;
    letter-spacing: -0.02em;
    color: #fff;
    width: 300px;
    position: relative;
    margin-bottom: 78px;
}

.footer-title::after {
    content: "";
    display: block;
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 1136px;
    height: 0px;
    position: absolute;
    bottom: -54px;


}

.footer-title span {
    color: #fd9222;
}


.footer-content {
    display: flex;
    justify-content: space-between;

}

.footer-contact p {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;

    color: #fff;

    margin-bottom: 14px;
}

.contact-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.contact-link {
    line-height: 1.28571;
    letter-spacing: -0.02em;
    color: #fff;
    transition: color 250ms ease-in-out;
}

.contact-link:hover, .contact-link:focus {
    color: #fd9222;
}

/* footer nav and subscribee */
.footer-content-two {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-nav {
    display: flex;
    gap: 24px;
}

.footer-nav-link {
    font-weight: 500;
    line-height: 1.14286;
    letter-spacing: -0.02em;
    color: #fff;
    transition: color 250ms ease-in-out;
}

.footer-nav-link:hover, .footer-nav-link:focus {
    color: #fd9222;
}

.subscribe-form {
    display: flex;
    align-items: center;
    gap: 8px;
}

.inp-btn {
    border: 1.50px solid rgba(255, 255, 255, 0.15);
    border-radius: 30px;
    padding: 13px 24px;
    transition: border-color 250ms ease-in-out;
}

.inp-btn:hover {
    border-color: #fd9222;
}

.inp-email {
    font-size: 18px;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.3);
}

.btn-form-subscibe {
    font-weight: 600;
    color: #fff;

    border-radius: 100px;
    padding: 17px 40px;
    background-color: #fd9222;

    transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
}

.btn-form-subscibe:hover, .btn-form-subscibe:focus {
    background-color: #fafafa;
    color: #fd9222;

}

/* form */

.modal-overlay {
    background-color: rgba(46, 47, 66, 0.4);

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    background-color: #fcfcfc;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    border-radius: 4px;
    min-height: 584px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 517px;
    padding: 40px;
}

.modal .close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 24px;
    top: 24px;
    width: 24px;
    height: 24px;
    border: 1px solid #fd9222;
    border-radius: 50%;
    background-color: #fff;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.iconbtn {
    fill: #fd9222;
}

.close-btn .iconbtn {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .close-btn:hover, .modal .close-btn:focus {
    background-color: #fd9222;

}

.modal .close-btn:hover>.iconbtn, .modal .close-btn:focus>.iconbtn {
    fill: #fff;
}

.modal .title-form {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.16667;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #111;
    margin-bottom: 40px;
}

.modal .title-form span {
    color: #fd9222;
    text-wrap: nowrap;
}

.form-first {
    margin-bottom: 8px;

}

.form-label {
    font-size: 14px;

    letter-spacing: -0.02em;
    color: rgba(64, 64, 64, 0.3);
    display: block;
    margin-bottom: 8px;
}

.form-first .form-input {
    position: relative;
}

.form-first .inp-name {
    width: 100%;
    height: 68px;
    border: 1px solid rgba(17, 17, 17, 0.05);
    border-radius: 13px;
    background-color: transparent;
    padding-left: 44px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.form-first .inp-name:focus {
    border-color: #fd9222;
}

.form-first .inp-name:focus+.icon-form {

    fill: #fd9222;
}

.icon-form {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.com-area {
    margin-bottom: 20px;
}

.com-area .area-comment {
    outline: none;
    border: 1px solid rgba(17, 17, 17, 0.05);
    border-radius: 13px;
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.com-area .area-comment:focus {
    border-color: #fd9222;
}

/*checkbox*/
.licen {
    margin-bottom: 40px;
}

.licen-label {
    display: flex;
    align-items: center;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: rgba(64, 64, 64, 0.6);
}

.decor-checkbox {
    width: 20px;
    height: 20px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 8px;
    flex-shrink: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition:
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-input:checked+.licen-label .decor-checkbox {
    background-color: #fd9222;
    border: none;
    fill: #f4f4fd;
}

.licen .privacy {
    color: #fd9222;
    text-decoration: underline;
}





.send-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-family: "Roboto", sans-serif;
    color: #fff;

    display: block;
    cursor: pointer;
    border-radius: 100px;

    padding: 14px 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #fd9222;
    border: 1px solid #fd9222;


    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-btn:hover, .send-btn:focus {
    background-color: #fff;
    color: #fd9222;

}