.hidden {
    display: none;
}

html {
    background-color: #fafafa;

}

.container {
    margin: 0 auto;
    max-width: 375px;
    padding: 0 20px;
}

@media screen and (min-width:768px) {
    .container {
        max-width: 768px;
        padding: 0 32px;
    }
}

@media screen and (min-width:1200px) {
    .container {
        max-width: 1200px;

    }
}



body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: #111;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* header */
.nav-menu, .social-icon {
    display: none;
}


.logo {
    display: flex;
    align-items: center;
}

.logo-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.03em;
    color: #111;
    text-transform: uppercase;
    margin-right: 4px;
}

.header-container {
    padding: 20px 20px 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-button {
    padding: 0;
    border: none;

    background-color: transparent;

}

.nav-icon {
    transition:
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-icon:hover, .nav-icon:focus {
    background-color: #fd9222;
    fill: #fff;
    border-radius: 4px;
}

@media screen and (min-width:768px) {
    .header-container {
        padding: 20px;
    }

    .nav-icon {
        display: none;
    }



    .nav-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav-menu {
        display: flex;
        align-items: center;
        gap: 24px;
    }

    .logo {
        margin-right: 100px;
    }



    .nav-link {
        font-weight: 500;
        line-height: 1.14;
        color: #111;
        transition: color 250ms ease-in-out;
    }

    .nav-link:hover, .nav-link:focus {
        color: #fd9222;
    }

    .social-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 48px;
        gap: 18px;
    }

    .icon {
        fill: #111;
        transition: fill 250ms ease-in-out;
    }

    .icon:hover, .icon:focus {
        fill: #fd9222;
    }

}



@media screen and (min-width:1200px) {

    .logo-text {
        font-size: 18px;
        line-height: 1.11111;
    }

    .logo {
        margin-right: 448px;
    }

    .social-icon {
        margin-left: 90px;
    }
}



/* mobile-menu */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;

    opacity: 0;
    visibility: none;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-conteiner {
    position: relative;
    padding-top: 136px;
    padding-bottom: 20px;

    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #111;
}

.mobile-menu-close {

    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: transparent;
    padding: 0;
    transition: background-color 250ms ease-in-out;
}

.mobile-menu-close .iconbtn {
    fill: #fff;
    transition: fill 250ms ease-in-out;
}

.mobile-menu-close:hover, .mobile-menu-close:focus {
    background-color: #fd9222;


}

.mobile-nav-menu {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mobile-nav-link {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: -0.02em;
    color: #fff;
}

.mobile-nav-link.orange {
    color: #fd9222;
}

.mobile-nav-container {
    margin-bottom: auto;
}

.mobile-social-icon {
    display: flex;
    gap: 18px;
}

.mobile-icon {
    fill: #fff;
    transition: fill 250ms ease-in-out;
}

.mobile-icon:hover, .mobile-icon:focus {
    fill: #fd9222;

}

/* hero */
.container.hero {
    padding: 395px 36px 20px 40px;
}

.hero {
    margin: 0 auto;
    max-width: 375px;
    background-color: rgba(30, 24, 35, 0.4);
    background-image: url(../images/hero-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 30px;

}

.hero-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    color: #fff;
    max-width: 290px;
    margin-bottom: 32px;
}

.buy-now-btn {
    font-weight: 600;
    color: #fff;

    border-radius: 100px;
    padding: 12px 28px;

    border: 1px solid #fd9222;
    background-color: #fd9222;
    margin-right: 14px;
    transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
}

.buy-now-btn:hover, .buy-now-btn:focus {
    color: #fd9222;
    background-color: #fcf1e0;
}





.how-made {
    font-weight: 600;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 100px;
    padding: 12px 28px;

    height: 45px;
    transition: color 250ms ease-in-out, border-color 250ms ease-in-out, background-color 250ms ease-in-out;

}

.how-made:hover, .how-made:focus {
    color: #fd9222;
    border-color: #fd9222;
    background-color: #fafafa;
}

.scroll-down {

    font-weight: 500;
    line-height: 1.28571;
    letter-spacing: -0.03em;
    color: #fff;
    display: flex;
    align-items: center;
    border-radius: 10px;


    gap: 14px;
    transition: color 250ms ease-in-out;
}

.scroll-down-icon {
    background-color: #fff;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms ease-in-out;
}

.down-icon {
    fill: #fd9222;
    transition: fill 250ms ease-in-out;
}


.scroll-down:hover, .scroll-down:focus {
    color: #fd9222;


}

.scroll-down:hover>.scroll-down-icon {
    background-color: #fd9222;

}

.scroll-down:hover>.scroll-down-icon>.down-icon {
    fill: #fff;
}



.hero-btn span {
    display: flex;
    align-items: flex-end;


}

.hero-btn {
    display: flex;
    flex-wrap: wrap;
    row-gap: 32px;
}

@media screen and (min-width:768px) {
    .container.hero {
        padding: 671px 72px 40px;
    }

    .hero {
        margin: 0 auto;
        max-width: 768px;
        background-image: url(../images/hero-tablet.jpg);
    }

    .hero-title {
        font-weight: 500;
        font-size: 28px;
        line-height: 1.21429;
        letter-spacing: -0.03em;
        max-width: 484px;

    }

    .hero-btn {
        justify-content: space-between;
    }

    .scroll-down {

        padding: 8px 16px;
    }
}

@media screen and (min-width:1200px) {
    .hero {
        margin: 0 auto;
        max-width: 1200px;
        background-image: url(../images/hero-desktop.jpg);
    }

    .container.hero {
        padding: 381px 72px 40px 72px;
    }

    .buy-now-btn, .how-made {
        padding: 14px 40px;
    }
}


/* features */
/* features */
.features {
    background-color: #1e1823;
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}

.container.features-container {
    padding: 20px;
    margin-top: 60px;

}

.list-title {
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    margin-bottom: 18px;
}

.list-text {

    margin-right: 18px;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.7);
}

.features-icon {
    fill: #fd9222;
}

.border-features-icon {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    width: 62px;
    height: 62px;
    margin-bottom: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.features-list-element {

    max-width: 336px;

}

@media screen and (min-width:768px) {
    .features-list {
        gap: 32px;
    }

    .container.features-container {
        padding: 32px 50px;
        margin-top: 40px;

    }

    .features-list-element {

        flex-basis: calc((100% - 64px) / 2);

    }
}

@media screen and (min-width:1200px) {

    .container.features-container {
        padding: 50px;
        margin-top: 72px;
    }

    .features-list {
        gap: 72px;

    }

    .features-list-element {
        position: relative;
        flex-basis: calc((100% - 144px) / 3);

    }

    .features-list-element:not(:last-child)::after {
        content: "";
        position: absolute;
        right: 0px;
        top: 60px;
        display: block;
        width: 1px;
        height: 124px;
        background-color: rgba(255, 255, 255, 0.5);

    }
}


/* tacte */
.taste {
    padding-top: 60px;
}

.container-tacte-title {
    max-width: 283px;
    margin: 0 auto 24px;
}

.tacte-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #111;
    max-width: 411px;
    margin: 0 auto;
    margin-bottom: 28px;
}

.tacte-title span {
    color: #fd9222;
}

.tacte-text {
    line-height: 1.28571;
    text-align: center;
    color: #111;
}



.ingredients-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.ingredients-card {
    display: flex;
    flex-direction: column;



    border: 1px solid #fd9222;
    border-radius: 15px;
    width: 335px;
    background-color: #fff;

}

.ingredients-card img {
    width: 224px;
    height: 171px;
    margin: 28px auto 25px;

}

.card-title {
    margin-bottom: 28px;
    padding-left: 28px;
    font-weight: 600;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #111;
    width: 206px;
    text-align: start;

}

.ingredients-card.nuts {
    border-color: #111;
    background-color: #1e1823;
}

.ingredients-card.milk-choc {
    background-color: #fd9222;
}

.card-title.white {
    color: #fff;
}

/* overlay */


.overlay-card {
    position: relative;
    overflow: hidden;
}

.overlay {
    font-size: 16px;
    padding: 20px;
    background-color: #fff;
    color: #111;
    border-radius: 15px;


    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    line-height: 1.5;
    letter-spacing: 0.02em;

    overflow-y: auto;

}

.ingredients-card:hover .overlay {
    transform: translateY(0);
    cursor: pointer;
}

.ingredients-card:hover {
    cursor: pointer;
}

.overlay-card-title {
    font-weight: 600;
    font-size: 18px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #111;
}

.overlay-btn {
    font-size: 10px;
    line-height: 1.2;
    color: #fff;
    border-radius: 35px;
    padding: 6px 16px;

    margin: 8px 6px 14px 0px;

    background-color: #fd9222;
    transition: color 250ms ease-in-out, background-color 250ms ease-in-out;

}

.overlay-btn:hover, .overlay-btn:focus {
    color: #fd9222;
    background-color: #fcf1e0;
}

.overlay span {
    display: block;
    margin-bottom: 14px;
}

.overlay-link {
    font-size: 10px;
    line-height: 1.2;
    color: #111;
    border: 1px solid #fd9222;
    border-radius: 35px;
    padding: 6px 16px;
    background-color: #fafafa;

    white-space: nowrap;

    transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
}

.overlay-link:hover, .overlay-link:focus {
    color: #fff;
    background-color: #fd9222;
}

.overlay-text {

    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    color: #111;
}

@media screen and (min-width:768px) {
    .taste {
        padding-top: 80px;
    }

    .container-tacte-title {
        max-width: 411px;
        margin: 0 auto 24px;
    }

    .ingredients-list {

        gap: 32px;
    }

    .ingredients-card {

        flex-basis: calc((100% - 32px) / 2);


    }
}

@media screen and (min-width:1200px) {
    .ingredients-card img {
        width: 206px;
        height: 160px;
        margin: 36px auto 28px;

    }

    .taste {
        padding-top: 100px;
    }

    .ingredients-list {

        gap: 19px;
    }

    .ingredients-card {

        flex-basis: calc((100% - 57px) / 4);
    }

    .tacte-title {

        font-size: 24px;
        line-height: 1.17;
        margin-bottom: 28px;
    }
}

/* made */
.made {
    padding-top: 60px;
}

.made-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;

    margin-bottom: 32px;
}

.made-title span {
    color: #fd9222;
}

.made-content img {
    width: 335px;
    height: 500px;
}



.made-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.made-container {
    padding: 14px;
    border-radius: 15px;
    background-color: #fff;
}

.made-list-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33333;
    margin-bottom: 28px;
    max-width: 340px;
}

.made-list {
    max-width: 452px;
}

.made-card {
    padding-left: 16px;
    padding-bottom: 24px;
    position: relative;
}

.made-card::after {

    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid #ECEDED;
    background-color: #4c4c4c;
    position: absolute;
    left: 0;
    top: 4px;
}

@media screen and (min-width:768px) {
    .made {
        padding-top: 80px;
    }

    .container {}

    .made-title {

        font-size: 24px;
        margin-bottom: 50px;
    }



    .made-content img {
        width: 614px;
        height: 400px;

    }



    .made-container {

        padding: 32px;

    }

    .made-list-title {
        margin-bottom: 28px;

    }

    .made-card {
        max-width: 464px;
    }

    .made-container {
        max-width: 614px;
    }
}

@media screen and (min-width:1200px) {
    .made {
        padding-top: 100px;
    }


    .made-content img {
        width: 600px;
        height: 400px;
    }


    .made-container {
        max-width: 516px;
    }

    .made-content {

        flex-direction: row;

    }
}

/* loved */
.loved {
    padding-top: 60px;
}

.loved-list {
    display: flex;
    gap: 28px;
}

.loved-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33333;
    text-align: center;
    margin-bottom: 28px;

}

.made-title.loved-title {
    margin-bottom: 0;
}

.loved-text {

    line-height: 1.28571;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(17, 17, 17, 0.7);
}

.loved-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 56px 24px 24px;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
    width: 360px;
    margin-top: 30px;
    box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
    background: #fff;
    position: relative;
}

.loved-card img {
    position: absolute;
    top: -40px;
    border-radius: 50%;

}

.loved-btn {
    border: 1px solid #fd9222;
    border-radius: 100px;
    padding: 14px 40px;
    width: 222px;
    height: 50px;
    transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
}

.loved-btn:hover, .loved-btn:focus {
    background-color: #fd9222;
    color: #fff;
}

.loved-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

/* radio btn */
.radio-btn-loved {
    display: flex;
    gap: 13px;
}

.real-radio {
    width: 0;
    height: 0;
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.cucton-radio {
    display: inline-block;
    background-color: rgba(17, 17, 17, 0.1);
    width: 13px;
    height: 13px;
    border-radius: 50%;
    transition: background-color 250ms ease-in-out,
        width 250ms ease-in-out,
        border-radius 250ms ease-in-out;
}

.real-radio:checked+.cucton-radio {
    background-color: #fd9222;
    width: 28px;
    border-radius: 7px;
}